{% extends 'core/app.html' %}
{% block title %} Calculated data {% endblock title %}
{% block content %}
  <div class="container">
    <div class="row mt-5 shadow">
        <div class="col-md-8 m-auto ">
            <div class="p-3 border">
                <h4>Delete data procces</h4>
               
                <hr>
                <form method="POST" class="form-group">
                    {% csrf_token %}
                        <h1 class="py-5">Delete {{ delete_data }} from list ?</h1>
                        <button class="btn btn-danger fw-bold text-uppercase w-100">DELETE</button> 
                </form>
             
            </div>
        </div>
<div class="col-md-8">
        <canvas id="myChart" width="400" height="300"></canvas>
    </div>
  </div>
</div>
{% endblock content %}