{% extends 'core/app.html' %}
{% block title %} Calculated data {% endblock title %}
{% block content %}
<div class="container">
    <h1 class="fw-bold text-center py-4">Register</h1>
    <form action="" method="POST" class="form-group w-50 m-auto">
        {% csrf_token %}
        <div class="mb-3">
            <label class="pb-3">Enter Your Username</label>
            <input type="text" name="username" placeholder="Enter your username" class="form-control">
        </div>
        <div class="mb-3">
            <label class="pb-3">Enter Your Password</label>
            <input type="passwprd" name="password1" placeholder="Enter your password" class="form-control">
        </div>
        <div class="mb-3">
            <label class="pb-3">Confirm Password</label>
            <input type="password" name="password2" placeholder="Confirm password" class="form-control">
        </div>
        <div class="mb-3">
                <button class="btn btn-primary fw-bold text-uppercase">Register</button>
        </div>
    </form>
</div>
{% endblock content %}